<!-- Calcula posicao do ultimo elemento do arrya -->
<%  if(cotacoes){ 
  var ultimo =  Object.keys(cotacoes).length - 1; 
}%>
<!DOCTYPE html>
<html>
<head>
	<title>cotacoes</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body >

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="/">BITCOIN</a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/cotacoes">Cotações<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/Ordens">Ordens</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/criar_ordem">Criar Ordem</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		    	 <% if(email){%>
		      		<ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link disabled" href="#"><%= email %></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="logout">Logout</a>
				      </li>
		      <% } %>
		    </form>
		  </div>
	</nav>
	<div class="container">
		<h1>Cotação atual</h1>
		<% if(btc_symbol) {%>
			<table class="table">
				<tr>
					<th>Moeda</th>
					<th>Valor</th> 
					<th>Data</th>
					<% if(cotacoes){ %>
					<th>% que subiu</th>
					<% } %>
					<th>Exchange</th>
				</tr>
				<tr>
					<td><%= btc_symbol %></td>
					<td>US$ <%= btc_price %></td> 
					<td><%= date %></td>
					<% if(cotacoes){ %>
					<td id="porcentagem"><%= ((Number(btc_price) - Number(cotacoes[ultimo].valor))/Number(cotacoes[ultimo].valor)) * 100 %>%</td>
					<% } %>
					<td>------</td>
				</tr>
			</table>
		<% } %>
		<% if(cotacoes){ %>
			<h2>Cotações antigas</h2>
			<table class="table">
			<tr>
				<th>Moeda</th>
				<th>Valor</th> 
				<th>Data</th>
				<th>Exchange</th>
			</tr>
			<% for(var i = Object.keys(cotacoes).length - 1; i >= 0; i--) {%>
				<tr>
					<td><%= cotacoes[i].moeda %></td>
					<td>US$ <%= cotacoes[i].valor %></td> 
					<td><%= cotacoes[i].data %></td>
					<td>------</td>
				</tr>
			<% } %>
			</table>
		<% } %>
	</div>
</body>
</html>